#root {
  background-color: rgb(3, 52, 109);
  color: rgb(10, 237, 169);
}
a {
  text-decoration: none;
  color: inherit;
  background: none;
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 2rem;
}
.main-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  width: 100%;
  gap: 2rem;
  margin-top: 2rem;
}
.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8rem;
}
.music-area {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  gap: 2rem;
}

img {
  width: 200px;
  height: 150px;
}
button {
  cursor: pointer;
  color: white;
  background-color:rgb(5, 122, 255);
  border-radius: 12px;
  border: none;
  padding: 0.5rem;
}
